/*
 * Turbine!
 */

simulation: {
  grid: {
    cells: {x:@N_CELLS_X@; y: @N_CELLS_Y@};
    size: {x: (0, @L_DOMAIN_X@); y: (0, @L_DOMAIN_Y@)};
  };

outputDirectory: "./p=12_rho=0.3/";

start: 0.0; 
end: 0.002;    // 0.5 ms (火焰 ~150 m/s, 穿越 45 mm 半径约需 0.3 ms)
interval: 0.000005; // 5 μs 输出间隔 (~100 帧)
//interval: 1.0;
  
  #outputRadii: (0.0105, 0.0425, 0.0765);
  targetCFL: 0.8;
};